In [2]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [12]:
round(student_data['math score'].mean())

66

In [13]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [19]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [7]:
student_data.loc[155, 'writing score']

88

In [9]:
student_data.isnull().sum().sum()

0

In [24]:
student_data[student_data['math score'] == 0].shape[0]

1

In [25]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [26]:
student_data['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [28]:
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [29]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70

In [30]:
student_data['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [35]:
x = student_data['parental level of education'].value_counts(normalize=True)
x.info

<bound method Series.info of parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64>

In [38]:
round(abs(student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median() - student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()))

6